{% extends "web/base.html" %}
{% load staticfiles %}

{% block body %}
{% block ad %}
  <div class="container_12">
    <div class="grid_12">
        <div class="slidprev"><span>Prev</span></div>
        <div class="slidnext"><span>Next</span></div>
        <div id="slider">
        {% for ad in ads %}
          <div id="slide1">
          	<a href="{{ ad.callback_url }}">
            <img src="{{ ad.get_image_url }}" alt="" title="" />
            </a>
            <div class="slid_text">
              <h3 class="slid_title"><span>{{ ad.title }}</span></h3>
              {{ ad.description|safe }}
            </div>
          </div>
          {% endfor %}
        </div><!-- .slider -->
        <div id="myController">
        {% for num in ads %}
          <div class="control"><span>{{ num.id }}</span></div>
        {% endfor %}
        </div>
{% endblock ad %}

    </div><!-- .grid_12 -->
  </div><!-- .container_12 -->
  <div class="clear"></div>

  <section id="main" class="home">
    <div class="container_12">
      <div id="top_button">
        <div class="grid_4">
          <a href="" class="button_block best_price">
            <img src="{% static 'images/banner1.png' %}" alt="Banner 1"/>
          </a><!-- .best_price -->
        </div><!-- .grid_4 -->

        <div class="grid_4">
          <a href="" class="button_block new_smells">
            <img src="{% static 'images/banner2.png' %}" alt="Banner 2"/>
          </a><!-- .new smells -->
        </div><!-- .grid_4 -->

        <div class="grid_4">
          <a href="" class="button_block only_natural">
            <img src="{% static 'images/banner3.png' %}" alt="Banner 3"/>
          </a><!-- .only_natural -->
        </div><!-- .grid_4 -->

        <div class="clear"></div>
      </div><!-- #top_button -->

      <div class="clear"></div>

      <div class="carousel">
        <div class="c_header">
          <div class="grid_10">
            <h2>精选</h2>
          </div><!-- .grid_10 -->

          <div class="grid_2">
            <a id="next_c1" class="next arows"><span>Next</span></a>
            <a id="prev_c1" class="prev arows"><span>Prev</span></a>
           </div><!-- .grid_2 -->
        </div><!-- .c_header -->

        <div class="list_carousel">

        <ul id="list_product" class="list_product">

          <li class="">
            <div class="grid_3 product">
              <img class="sale" src="{% static 'images/sale.png' %}" alt="Sale"/>
              <div class="prev">
                <a href="product_page.html"><img src="{% static 'images/product_1.png' %}" alt="" title="" /></a>
              </div><!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                <div class="vert">
                  <div class="price_new">$550.00</div>
                  <div class="price_old">$725.00</div>
                </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div><!-- .cart -->
            </div><!-- .grid_3 -->
          </li>

        </ul><!-- #list_product -->
        </div><!-- .list_carousel -->
      </div><!-- .carousel -->


      <div class="carousel">
        <div class="c_header">
          <div class="grid_10">
            <h2><a href="{% url 'shopsys:product_grid' muying.slug %}">母婴</a></h2>
          </div><!-- .grid_10 -->

          <div class="grid_2">
            <a id="next_c2" class="next arows"><span>Next</span></a>
            <a id="prev_c2" class="prev arows"><span>Prev</span></a>
          </div><!-- .grid_2 -->
        </div><!-- .c_header -->

        <div class="list_carousel">
        <ul id="list_product2" class="list_product">
        {% for b in baby %}
          <li class="">
            <div class="grid_3 product">
              <!-- <img class="sale" src="{% static 'images/sale.png' %}" alt="Sale"/> -->
              <div class="prev">
                <a href="{% url 'shopsys:product_detail' b.id b.slug %} " target="_blank"><img src="{{ b.get_image_url }}" alt="" title="" /></a>
              </div><!-- .prev -->
              <h3 class="title">{{ b.description }}</h3>
              <div class="cart">
                <div class="price">
                <div class="vert">
                  <div class="price_new">¥{{ b.discount_price }}</div>
                  <div class="price_old">¥{{ b.price }}</div>
                </div>
                </div>
                <a href="" class="obn"></a>
                <a href="" class="like"></a>
                <a href="" class="bay"></a>
              </div><!-- .cart -->
            </div><!-- .grid_3 -->
          </li>
          {% endfor %}

        </ul><!-- #list_product2 -->
        </div><!-- .list_carousel -->
      </div><!-- .carousel -->

		<div class="carousel">
        <div class="c_header">
          <div class="grid_10">
            <h2>居家</h2>
          </div><!-- .grid_10 -->

          <div class="grid_2">
            <a id="next_c3" class="next arows" href="#"><span>Next</span></a>
            <a id="prev_c3" class="prev arows" href="#"><span>Prev</span></a>
          </div><!-- .grid_2 -->
        </div><!-- .c_header -->

        <div class="list_carousel">
        <ul id="list_product3" class="list_product">

          <li class="">
            <div class="grid_3 product">
              <img class="sale" src="images/sale.png" alt="Sale"/>
              <div class="prev">
                <a href="product_page.html"><img src="images/product_5.png" alt="" title="" /></a>
              </div><!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                <div class="vert">
                  <div class="price_new">$550.00</div>
                  <div class="price_old">$725.00</div>
                </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div><!-- .cart -->
            </div><!-- .grid_3 -->
          </li>

        </ul><!-- #list_product2 -->
        </div><!-- .list_carousel -->
      </div><!-- .carousel -->


		<div class="carousel">
        <div class="c_header">
          <div class="grid_10">
            <h2>男士</h2>
          </div><!-- .grid_10 -->

          <div class="grid_2">
            <a id="next_c4" class="next arows" href="#"><span>Next</span></a>
            <a id="prev_c4" class="prev arows" href="#"><span>Prev</span></a>
          </div><!-- .grid_2 -->
        </div><!-- .c_header -->

        <div class="list_carousel">
        <ul id="list_product4" class="list_product">

          <li class="">
            <div class="grid_3 product">
              <img class="sale" src="images/sale.png" alt="Sale"/>
              <div class="prev">
                <a href="product_page.html"><img src="images/product_5.png" alt="" title="" /></a>
              </div><!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                <div class="vert">
                  <div class="price_new">$550.00</div>
                  <div class="price_old">$725.00</div>
                </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div><!-- .cart -->
            </div><!-- .grid_3 -->
          </li>

        </ul><!-- #list_product2 -->
        </div><!-- .list_carousel -->
      </div><!-- .carousel -->



		<div class="carousel">
        <div class="c_header">
          <div class="grid_10">
            <h2>美妆</h2>
          </div><!-- .grid_10 -->

          <div class="grid_2">
            <a id="next_c5" class="next arows" href="#"><span>Next</span></a>
            <a id="prev_c5" class="prev arows" href="#"><span>Prev</span></a>
          </div><!-- .grid_2 -->
        </div><!-- .c_header -->

        <div class="list_carouse5">
        <ul id="list_product5" class="list_product">

          <li class="">
            <div class="grid_3 product">
              <img class="sale" src="images/sale.png" alt="Sale"/>
              <div class="prev">
                <a href="product_page.html"><img src="images/product_5.png" alt="" title="" /></a>
              </div><!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                <div class="vert">
                  <div class="price_new">$550.00</div>
                  <div class="price_old">$725.00</div>
                </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div><!-- .cart -->
            </div><!-- .grid_3 -->
          </li>

        </ul><!-- #list_product2 -->
        </div><!-- .list_carousel -->
      </div><!-- .carousel -->

      <div class="carousel">
        <div class="c_header">
          <div class="grid_10">
            <h2>生活</h2>
          </div><!-- .grid_10 -->

          <div class="grid_2">
            <a id="next_c6" class="next arows" href="#"><span>Next</span></a>
            <a id="prev_c6" class="prev arows" href="#"><span>Prev</span></a>
          </div><!-- .grid_2 -->
        </div><!-- .c_header -->

        <div class="list_carouse5">
        <ul id="list_product6" class="list_product">

          <li class="">
            <div class="grid_3 product">
              <img class="sale" src="images/sale.png" alt="Sale"/>
              <div class="prev">
                <a href="product_page.html"><img src="images/product_5.png" alt="" title="" /></a>
              </div><!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                <div class="vert">
                  <div class="price_new">$550.00</div>
                  <div class="price_old">$725.00</div>
                </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div><!-- .cart -->
            </div><!-- .grid_3 -->
          </li>

        </ul><!-- #list_product2 -->
        </div><!-- .list_carousel -->
      </div><!-- .carousel -->


      <div id="content_bottom">
        <div class="grid_4">
          <div class="bottom_block about_as">
            <h3>关于我们</h3>
            <p>Wu Guangzhou people information limited company has not established.
            </p>
            <p>Going to headquarters located in Guangzhou, the future will be a special electronic commerce website, the main business of the Internet online sales of branded merchandise discount, covering famous clothing shoes and bags, beauty, mother, home and other major categories.
            </p>
            <p>Target is listed, the future of the New York Stock Exchange (NYSE) listed, is our goal。</p>
          </div><!-- .about_as -->
        </div><!-- .grid_4 -->

        <div class="grid_4">
          <div class="bottom_block news">
            <h3>成长历程</h3>
            <ul>
              <li>
                <time datetime="2012-03-03">December 21，2012</time>
                <a href="#">December 21，2012 intends to set up a company，unfortunately，the shortage of funds。</a>
              </li>

              <li>
                <time datetime="2012-02-03">August 22，2014</time>
                <a href="#">August 22，2014 intends to set up a company again，unfortunately，the lack of capacity。</a>
              </li>

              <li>
                <time datetime="2012-01-03">June 8，2016</time>
                <a href="#">The last time in June 8，2016 to set up the company's idea, but eventually was defeated by the reality。</a>
              </li>
            </ul>
          </div><!-- .news -->
        </div><!-- .grid_4 -->

        <div class="grid_4">
          <div class="bottom_block newsletter">
            <h3>诚聘英才</h3>
            <p>If you are confident of their creativity and learning ability, and believe that "attitude is everything" truth, willing to pay hard sweat to realize personal occupation in the professional field, there will be a good platform for your occupation quality, accelerate the dream of taking off the runway.</p>
            <form class="letter_form">
              <input type="email" name="newsletter" class="l_form" value="" placeholder="Enter your email address..."/>
	      <input type="submit" id="submit" value="" />
	    </form>
            <div class="lettel_description">
              Vel lobortis gravida. Cursus in dapibus ultrices velit fusce. Felis lacus erat.
            </div><!-- .lettel_description -->
          </div><!-- .newsletter -->
        </div><!-- .grid_4 -->

        <div class="clear"></div>
      </div><!-- #content_bottom -->
      <div class="clear"></div>

    </div><!-- .container_12 -->
  </section><!-- #main -->
{% endblock body %}
